.flex-4-right {
    background-image: url('../images/others/laura-chouette-j_qackZwDIU-unsplash-edited-enhanced_use.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
}

.flex-4-placement {
    text-align: center;
    align-items: right;
    justify-content: right;
    margin-left: 45%;
    margin-right: 3%;
    padding-top: 3%;
}

.flex-4-heading {
    font-size: 2.89rem;
    font-weight: 100;
    font-variant: small-caps;
    color: #89163f;
}

.flex-4-body {
    font-size: 1.65rem;
    font-weight: 100;
    color: #e8e7ec;
}

@media (max-width: 700px) {
    .flex-4-right {
        background-image: url('../images/others/laura-chouette-j_qackZwDIU-unsplash-edited-enhanced_use.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 42.5% center;
        background-attachment: fixed;
    }

    .flex-4-placement {
        margin-left: 20%;
        margin-right: 3%;
        padding-top: 9%;
    }

    .flex-4-heading {
        font-size: 2.4rem;
    }

    .flex-4-body {
        /* font-size: 3vh; */
        font-size: 1.3rem;
    }
}

@media (max-width: 535px) and (max-height: 740px) {
    .flex-4-heading {
        font-size: 2.2rem;
    }

    .flex-4-body {
        font-size: 1.1rem;
    }
}
