@import "colour-palette.css";

/* Red Asterisk For Required Fields */
.required::after {
    position: absolute;
    content: '*';
    color: red;
    margin-left: 4px;
}


/* Buttons */

/* Button: Lux Black Box */
/* Original Button Hover Background Changed */
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark:visited,
.btn-outline-dark.active,
.open .dropdown-toggle.mod {
    background-color: var(--lux-black-box) !important;
    color: #FFFFFF !important;
    border-color: rgba(16, 24, 32, 1);
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.1) !important;
}


/* Button: Purple */
.btn-lux-pastel-purple {
    color: #FFFFFF !important;
    background-color: #B399D4 !important;
    border-color: #B399D4 !important;
}

.btn-lux-pastel-purple:hover,
.btn-lux-pastel-purple:focus,
.btn-lux-pastel-purple:active,
.btn-lux-pastel-purple:visited,
.btn-lux-pastel-purple.active,
.open .dropdown-toggle.btn-lux-pastel-purple {
    color: #B399D4 !important;
    background-color: #FFFFFF !important;
    border-color: #B399D4 !important;
    box-shadow: 0 0 0 .2rem rgba(179, 153, 212, 0.5) !important;
}

.btn-lux-pastel-purple:focus,
.btn-lux-pastel-purple.focus {
    box-shadow: 0 0 0 .2rem rgba(179, 153, 212, 0.5) !important;
}

.btn-lux-pastel-purple:active,
.btn-lux-pastel-purple.active,
.open .dropdown-toggle.btn-lux-pastel-purple {
    background-image: none;
}

/* .btn-lux-pastel-purple.disabled,
.btn-lux-pastel-purple[disabled],
fieldset[disabled] .btn-lux-pastel-purple,
.btn-lux-pastel-purple.disabled:hover,
.btn-lux-pastel-purple[disabled]:hover,
fieldset[disabled] .btn-lux-pastel-purple:hover,
.btn-lux-pastel-purple.disabled:focus,
.btn-lux-pastel-purple[disabled]:focus,
fieldset[disabled] .btn-lux-pastel-purple:focus,
.btn-lux-pastel-purple.disabled:active,
.btn-lux-pastel-purple[disabled]:active,
fieldset[disabled] .btn-lux-pastel-purple:active,
.btn-lux-pastel-purple.disabled.active,
.btn-lux-pastel-purple[disabled].active,
fieldset[disabled] .btn-lux-pastel-purple.active {
    background-color: #FFFFFF;
    border-color: #B399D4;
} */

.btn-lux-pastel-purple .badge {
    color: #FFFFFF;
    background-color: #B399D4;
}


/* Button: Lipstick Red */
.btn-lux-lipstick-red {
    color: #FFFFFF !important;
    background-color: rgba(202, 56, 73, 0.9) !important;
    border-color: rgba(202, 56, 73, 1) !important;
}

.btn-lux-lipstick-red:hover,
.btn-lux-lipstick-red:focus,
.btn-lux-lipstick-red:active,
.btn-lux-lipstick-red.active,
.open .dropdown-toggle.btn-lux-lipstick-red {
    color: rgba(202, 56, 73, 0.9) !important;
    background-color: #FFFFFF !important;
    border-color: #CA3849 !important;
    box-shadow: 0 0 0 .2rem rgba(206, 153, 159, 0.6) !important;
}

.btn-lux-lipstick-red:active,
.btn-lux-lipstick-red.active,
.open .dropdown-toggle.btn-lux-lipstick-red {
    background-image: none;
}

.btn-lux-lipstick-red:focus,
.btn-lux-lipstick-red.focus {
    box-shadow: 0 0 0 .2rem rgba(202, 56, 73, 0.6) !important;
}

/* .btn-lux-lipstick-red.disabled,
.btn-lux-lipstick-red[disabled],
fieldset[disabled] .btn-lux-lipstick-red,
.btn-lux-lipstick-red.disabled:hover,
.btn-lux-lipstick-red[disabled]:hover,
fieldset[disabled] .btn-lux-lipstick-red:hover,
.btn-lux-lipstick-red.disabled:focus,
.btn-lux-lipstick-red[disabled]:focus,
fieldset[disabled] .btn-lux-lipstick-red:focus,
.btn-lux-lipstick-red.disabled:active,
.btn-lux-lipstick-red[disabled]:active,
fieldset[disabled] .btn-lux-lipstick-red:active,
.btn-lux-lipstick-red.disabled.active,
.btn-lux-lipstick-red[disabled].active,
fieldset[disabled] .btn-lux-lipstick-red.active {
    background-color: #FFFFFF;
    border-color: #CA3849;
} */

.btn-lux-lipstick-red .badge {
    color: #FFFFFF;
    background-color: #CA3849;
}
