.main {
	width: 800px;
  }
  label {
	  width: 16%;
	  opacity: 0.7;
	display:inline-block
  }
  
  .slideContainer {
	  width: 55%;
	  margin-top: 200px;
	}
	
	.slider {
	  -webkit-appearance: none;
	  width: 65%;
	  height: 5px;
	  background: linear-gradient(90deg, rgb(128, 128, 128) 5%, rgb(214, 214, 214) 0%);
	  /* background: linear-gradient(90deg, rgb(117, 252, 117) 5%, rgb(214, 214, 214) 0%); */ 
	  outline: none;
	  opacity: 0.7;
	  -webkit-transition: .2s;
	  transition: opacity .2s;
	  border-radius: 12px;
	  box-shadow: 0px 1px 10px 1px black;
	  }
	  
  .slider::after {
		  content:"100";
		  color: white;
		  font-size: 2rem;
		  position: absolute;
		  left: 80%;
		  top: 26%;
	  }
  
  .slider::before {
		  /* content:"0"; */
		  color: white;
		  font-size: 2rem;
		  position: absolute;
		  left: 12%;
		  top: 26%;
	  }
	
	.slider:hover {
	  opacity: 1;
	}
	
	.slider::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  appearance: none;
	  width: 20px;
	  height: 20px;
	  background: white;
	  cursor: pointer;
	  border-radius: 50%;
	}
  
  