/* Change #projection to #id of whatever */

#projection {
    background: linear-gradient(90deg, rgb(137, 22, 63) 5%, rgb(247, 244, 251) 0%);
    box-shadow: 0px 1px 10px 1px rgb(87, 63, 76);
}

#projection:hover {
    opacity: 1;
}

#projection::-webkit-slider-thumb {
    background: rgb(87, 63, 76);
}
