/* Change #like to #id of whatever */

#like {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.9) 5%, rgb(247, 244, 251) 0%);
    box-shadow: 0px 1px 10px 1px rgba(255, 0, 0, 0.5);
}

#like:hover {
    opacity: 1;
}

#like::-webkit-slider-thumb {
    background: rgb(255, 0, 0);
}
