/* Change #sillge to #id of whatever */

#sillage {
    background: linear-gradient(90deg, rgb(254, 231, 21) 5%, rgb(247, 244, 251) 0%);
    box-shadow: 0px 1px 10px 1px rgb(87, 63, 76);
}

#sillage:hover {
    opacity: 1;
}

#sillage::-webkit-slider-thumb {
    background: rgb(16, 24, 32);
}
