.main {
    width: 800px;
}

label {
    padding-left: 7px;
    width: 29%;
    opacity: 0.8;
    display: inline-block
}

.slideContainer {
    width: 120%;
}

/* Change input[type=range] to #id of whatever */

input[type=range] {
    -webkit-appearance: none;
    width: 69%;
    height: 7px;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 12px;
}

/* input[type=range]::after {
    content: "100";
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 80%;
    top: 26%;
}

input[type=range]::before {
    content: "0";
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 12%;
    top: 26%;
} */

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;

    cursor: pointer;
    border-radius: 50%;
}
