table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px 10px !important;
}

.searchbars {
    font-size: large !important;
    margin-bottom: 20px !important;
    margin-left: 0px !important;
}

.search {
    height: 35px !important;
    width: 250px !important;
    font-size: medium !important;
}

.fit-small {
    height: 34px !important;
    font-size: medium !important;
    line-height: 1rem !important;
}

.center {
    display: block;
    margin: 0 auto;
}
