table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px 10px !important;
}

.tab-head {
    letter-spacing: 2px;
    font-variant: small-caps;
    font-size: large;
}


.search {
    margin-bottom: 20px !important;
    height: 35px !important;
    width: 250px !important;
    font-size: medium !important;
}


.center {
    display: block;
    margin: 0 auto;
}

.middle {
    text-align: center;
}
