@import url("https://fonts.googleapis.com/css?family=Nunito");

.model-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in all;
}

.model {
    width: 70%;
    height: 70%;
    top: 15%;
    transition: 0.3s ease-in all;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.model-content {
    flex: 2;
}

.model-hidden {
    top: -100%;
}

.model-absolute {
    position: absolute;
}

.model-overlay-hidden {
    opacity: 0;
}

.model-overlay-none {
    display: none;
}

.model-close {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: gray;
    font-size: larger;

    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.model-content iframe {
    width: 100%;
    height: 100%;
    background-color: white;
}

.model-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #eee;
}
