.center {
    display: block;
    margin: 0 auto;
}

h5 {
    opacity: 1;
    transform: translate(0);
    transition: all 200ms linear;
    transition-delay: 700ms;
}

.api_key {
    text-align: center;
    word-break: break-word;
}

body.hero-anime h5 {
    opacity: 0;
    transform: translateY(8px);
    transition-delay: 700ms;
}

body.hero-anime button.btn {
    opacity: 0;
    transform: translateY(8px);
    transition-delay: 800ms;
}

small {
    opacity: 1;
    transform: translate(0);
    transition: all 250ms linear;
    transition-delay: 1000ms;
}

body.hero-anime small {
    opacity: 0;
    transform: translateY(50px);
    transition-delay: 1000ms;
}


/* Purple Button */
.btn-lux-pastel-purple {
    color: #B399D4 !important;
    background-color: #FFFFFF;
    border-color: #B399D4 !important;
}

.btn-lux-pastel-purple:hover,
.btn-lux-pastel-purple:focus,
.btn-lux-pastel-purple:active,
.btn-lux-pastel-purple:visited,
.btn-lux-pastel-purple.active,
.open .dropdown-toggle.btn-lux-pastel-purple {
    color: #B399D4;
    background-color: #FFFFFF;
    border-color: #B399D4;
}

.btn-lux-pastel-purple:focus,
.btn-lux-pastel-purple.focus {
    box-shadow: 0 0 0 .2rem rgba(96, 63, 131, 0.2) !important;
}

.btn-lux-pastel-purple:active,
.btn-lux-pastel-purple.active,
.open .dropdown-toggle.btn-lux-pastel-purple {
    background-image: none;
}

/* .btn-lux-pastel-purple.disabled,
.btn-lux-pastel-purple[disabled],
fieldset[disabled] .btn-lux-pastel-purple,
.btn-lux-pastel-purple.disabled:hover,
.btn-lux-pastel-purple[disabled]:hover,
fieldset[disabled] .btn-lux-pastel-purple:hover,
.btn-lux-pastel-purple.disabled:focus,
.btn-lux-pastel-purple[disabled]:focus,
fieldset[disabled] .btn-lux-pastel-purple:focus,
.btn-lux-pastel-purple.disabled:active,
.btn-lux-pastel-purple[disabled]:active,
fieldset[disabled] .btn-lux-pastel-purple:active,
.btn-lux-pastel-purple.disabled.active,
.btn-lux-pastel-purple[disabled].active,
fieldset[disabled] .btn-lux-pastel-purple.active {
    background-color: #FFFFFF;
    border-color: #B399D4;
} */

.btn-lux-pastel-purple .badge {
    color: #FFFFFF;
    background-color: #B399D4;
}


/* Red Button */
.btn-lux-lipstick-red {
    color: #CA3849 !important;
    background-color: #FFFFFF;
    border-color: #CA3849 !important;
}

.btn-lux-lipstick-red:hover,
.btn-lux-lipstick-red:focus,
.btn-lux-lipstick-red:active,
.btn-lux-lipstick-red.active,
.open .dropdown-toggle.btn-lux-lipstick-red {
    color: #CA3849;
    background-color: #FFFFFF;
    border-color: #CA3849;
}

.btn-lux-lipstick-red:active,
.btn-lux-lipstick-red.active,
.open .dropdown-toggle.btn-lux-lipstick-red {
    background-image: none;
}

.btn-lux-lipstick-red:focus,
.btn-lux-lipstick-red.focus {
    box-shadow: 0 0 0 .2rem rgba(202, 56, 73, 0.5) !important;
}

/* .btn-lux-lipstick-red.disabled,
.btn-lux-lipstick-red[disabled],
fieldset[disabled] .btn-lux-lipstick-red,
.btn-lux-lipstick-red.disabled:hover,
.btn-lux-lipstick-red[disabled]:hover,
fieldset[disabled] .btn-lux-lipstick-red:hover,
.btn-lux-lipstick-red.disabled:focus,
.btn-lux-lipstick-red[disabled]:focus,
fieldset[disabled] .btn-lux-lipstick-red:focus,
.btn-lux-lipstick-red.disabled:active,
.btn-lux-lipstick-red[disabled]:active,
fieldset[disabled] .btn-lux-lipstick-red:active,
.btn-lux-lipstick-red.disabled.active,
.btn-lux-lipstick-red[disabled].active,
fieldset[disabled] .btn-lux-lipstick-red.active {
    background-color: #FFFFFF;
    border-color: #CA3849;
} */

.btn-lux-lipstick-red .badge {
    color: #FFFFFF;
    background-color: #CA3849;
}
