.model-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model-content {
    width: 70%;
    height: 70%;
    background-color: white;
}

.model-content iframe {
    width: 100%;
    height: 100%;
}
