html,
body {
    background-color: #fff;
    font-weight: 200;
    color: #212529;
    height: 100%;
    margin: 0;
    font-size: 100%;
}

.full-height {
    height: 92% !important;
}

.flex-1-center {
    height: 86.5%;

    background-image: url("../images/fragrance_model/laura-chouette-YGuaaoNnv3c-unsplash_desktop_usable_use.jpg");
    background-image: url("../images/fragrance_model/laura-chouette-YGuaaoNnv3c-unsplash_desktop_usable_use.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;

    display: flex;
    align-items: left;
    justify-content: left;
    text-align: center;
    padding-left: 7.0rem;
}

.flex-1-center .heading {
    font-size: 2.64rem;
    font-weight: 100;
    font-variant: small-caps;
    color: #89163f;
    text-align: center;
}

.flex-1-center h2 {
    font-size: 1.56rem;
}

.grey-color {
    color: #636b6f !important;
}


.flex-2-left {
    background-image: url('../images/fragrance_model/laura-chouette-o7BEFNmuDkU-unsplash_desktop_usable_use.jpg');
    background-image: url('../images/fragrance_model/laura-chouette-o7BEFNmuDkU-unsplash_desktop_usable_use.webp');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-attachment: fixed;
}

.flex-2-placement {
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-right: 55%;
    padding-left: 4%;
    padding-top: 2.6%;
    padding-bottom: 4%;
}

.flex-2-heading {
    font-size: 1.85rem;
    font-weight: 100;
    font-variant: small-caps;
    color: #89163f;
}

.flex-2-body {
    font-size: 1.15rem;
    font-weight: 100;
    color: rgb(255, 250, 255);
}

.flex-2-body a {
    color: #f7527c;
}


.flex-3-center {
    background-color: #FEFFFEEE;
    font-size: 1.156rem;
    align-items: left;
    display: flex;
    justify-content: left;
    padding-left: 0.83rem;
}

.flex-4-right {
    background-repeat: no-repeat;
}

h4 {
    color: #f7527c !important;
    display: inline;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 0.75vw;
    top: 1.36vw;
}

.content {
    text-align: center;
    font-variant: small-caps;
}

.title {
    font-size: 4.96rem;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
}

.heading {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

/* h1,
h2 {
    letter-spacing: 3px;
} */

p {
    font-size: 1.65rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.like-links,
.links>a {
    font-size: 0.81rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #f7527c;
}

.like-links {
    text-decoration: none;
}

a:hover {
    color: #905969;
}

.m-b-md {
    margin-bottom: 1.3rem;
}


@media (max-width: 535px) {
    .full-height {
        /* height: 100%; */
        height: 93.5% !important;
    }

    .flex-1-center {
        height: 93.2%;
        background-image: url("../images/fragrance_model/welcome_page_phone_3.jpg");
        background-image: url("../images/fragrance_model/welcome_page_phone_3.webp");
        background-size: cover;
        background-position: bottom;
        margin-top: -2.5rem;

        padding-left: 0;
        padding: 10px;
        padding-bottom: 0;
    }

    .flex-1-center .heading {
        font-size: 1.9rem;
        color: #89163f;
    }

    .flex-1-center h2 {
        font-size: 1.56rem;
    }


    .flex-2-left {
        /* background-image: url('../images/fragrance_model/laura-chouette-o7BEFNmuDkU-unsplash_desktop_usable_use.jpg');
        background-image: url('../images/fragrance_model/laura-chouette-o7BEFNmuDkU-unsplash_desktop_usable_use.webp'); */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: bottom center;
    }

    .flex-2-placement {
        text-align: left;
        align-items: left;
        justify-content: left;
        margin-right: 20%;
        padding-left: 4%;
        padding-top: 12%;
        padding-bottom: 4%;
    }

    .flex-2-heading {
        font-size: 1.7rem;
    }

    .flex-2-body {
        font-size: 1rem;
    }


    .flex-3-center {
        font-size: 1.076rem;
        align-items: left;
        display: flex;
        justify-content: left;
        padding-left: 0;
    }


    .title {
        padding-top: 1.5rem;
        font-size: 3.4rem;
    }

    .heading {
        font-size: 0.9rem;
    }

    p {
        font-size: 1.65rem;
        letter-spacing: 1px;
    }

    .links>a {
        font-size: 0.81rem;
    }
}


@media (max-width: 535px) and (max-height: 740px) {
    .flex-1-center {
        height: 92.5%;
        margin-top: -3rem;
    }

    .flex-1-center .heading {
        margin-top: -1rem;
        font-size: 1.75rem;
    }

    .flex-1-center h2 {
        margin-top: -1.3rem;
        font-size: 1.2rem;
    }


    .flex-2-left {
        /* background-image: url('../images/fragrance_model/laura-chouette-o7BEFNmuDkU-unsplash_desktop_usable_use.jpg');
        background-image: url('../images/fragrance_model/laura-chouette-o7BEFNmuDkU-unsplash_desktop_usable_use.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom center; */
    }

    .flex-2-placement {
        margin-right: 20%;
        padding-left: 4%;
        padding-top: 6%;
        padding-bottom: 4%;
    }

    .flex-2-heading {
        font-size: 1.5rem;
    }

    .flex-2-body {
        font-size: 0.8rem;
    }

    .flex-3-center {
        font-size: 0.8rem;
        padding-left: 0;
    }

    h4 {
        font-size: 0.85rem !important;
    }

    .title {
        padding-top: 1.5rem;
        font-size: 3.4rem;
    }

    .heading {
        font-size: 0.9rem;
    }

    p {
        font-size: 1.65rem;
    }

    .like-links,
    .links>a {
        letter-spacing: 2px;
    }

    .links>a {
        font-size: 0.81rem;
        letter-spacing: 2px;
    }
}
